<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.edu.utng.primaria">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.test.Test" />
        <activity
            android:name=".activities.AdditionalMaterial"
            android:parentActivityName=".activities.AlphabetNumbers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AlphabetNumbers" />
        </activity>
        <activity
            android:name=".activities.Videos"
            android:parentActivityName=".activities.AdditionalMaterial">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AdditionalMaterial" />
        </activity>
        <activity
            android:name=".menu.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menu.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AlphabetNumbers"
            android:parentActivityName=".menu.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".menu.MainActivity" />
        </activity>

        <activity
            android:name=".activities.write.AlphabetWrite2"
            android:parentActivityName=".activities.AlphabetNumbers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AlphabetNumbers" />
        </activity>

        <activity
            android:name=".activities.AnimalsColors"
            android:parentActivityName=".menu.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".menu.MainActivity" />
        </activity>
        <activity
            android:name=".activities.FamilyClothes"
            android:parentActivityName=".menu.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".menu.MainActivity" />
        </activity>
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".menu.nameHeader" />
        <activity android:name=".menu.Preferences" />
        <activity
            android:name=".activities.GeoFigSports"
            android:parentActivityName=".menu.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".menu.MainActivity" />
        </activity>
        <activity
            android:name=".activities.Objects"
            android:parentActivityName=".menu.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".menu.MainActivity" />
        </activity>
        <activity
            android:name=".activities.listener.ColorListeningActivity"
            android:parentActivityName=".activities.AnimalsColors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AnimalsColors" />
        </activity>
        <activity
            android:name=".activities.CertificateActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.write.ColorYellowActivity"
            android:parentActivityName=".activities.AnimalsColors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AnimalsColors" />
        </activity>
        <activity
            android:name=".activities.write.ColorOrangeActivity"
            android:parentActivityName=".activities.AnimalsColors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AnimalsColors" />
        </activity>
        <activity
            android:name=".activities.write.ColorWhiteActivity"
            android:parentActivityName=".activities.AnimalsColors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AnimalsColors" />
        </activity>
        <activity
            android:name=".activities.write.ColorRedActivity"
            android:parentActivityName=".activities.AnimalsColors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AnimalsColors" />
        </activity>
        <activity
            android:name=".activities.write.ColorPurlpeActivity"
            android:parentActivityName=".activities.AnimalsColors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AnimalsColors" />
        </activity>
        <activity
            android:name=".activities.write.ColorPinkActivity"
            android:parentActivityName=".activities.AnimalsColors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AnimalsColors" />
        </activity>
        <activity
            android:name=".activities.write.ColorGreenActivity"
            android:parentActivityName=".activities.AnimalsColors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AnimalsColors" />
        </activity>
        <activity
            android:name=".activities.write.ColorBrownActivity"
            android:parentActivityName=".activities.AnimalsColors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AnimalsColors" />
        </activity>
        <activity
            android:name=".activities.write.ColorBlueActivity"
            android:parentActivityName=".activities.AnimalsColors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AnimalsColors" />
        </activity>
        <activity
            android:name=".activities.write.ColorBlackActivity"
            android:parentActivityName=".activities.AnimalsColors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AnimalsColors" />
        </activity>
        <activity
            android:name=".activities.test.TestAnimalsColorsActivity"
            android:parentActivityName=".activities.AnimalsColors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AnimalsColors" />
        </activity>
        <activity
            android:name=".activities.listener.FamilyListenerActivity"
            android:parentActivityName=".activities.FamilyClothes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.FamilyClothes" />
        </activity>
        <activity
            android:name=".activities.write.FamilyWriteActivity"
            android:parentActivityName=".activities.FamilyClothes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.FamilyClothes" />
        </activity>
        <activity
            android:name=".activities.write.NumbersWrite"
            android:parentActivityName=".activities.AlphabetNumbers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AlphabetNumbers" />
        </activity>
        <activity
            android:name=".activities.listener.Alphabet"
            android:parentActivityName=".activities.AlphabetNumbers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AlphabetNumbers" />
        </activity>
        <activity
            android:name=".activities.test.TestAlphabet"
            android:parentActivityName=".activities.AlphabetNumbers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AlphabetNumbers" />
        </activity>
        <activity
            android:name=".activities.test.TestSportFigure"
            android:parentActivityName=".activities.GeoFigSports">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GeoFigSports" />
        </activity>
        <activity
            android:name=".activities.write.AlphabetWrite"
            android:parentActivityName=".activities.AlphabetNumbers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AlphabetNumbers" />
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:parentActivityName=".menu.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".menu.MainActivity" />
        </activity>
        <activity
            android:name=".activities.listener.NumbersListening"
            android:parentActivityName=".activities.AlphabetNumbers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".menu.MainActivity" />
        </activity>
        <activity
            android:name=".activities.TableroLogros"
            android:parentActivityName=".menu.MainActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".menu.MainActivity" />
        </activity>
        <activity
            android:name=".DragDrop"
            android:parentActivityName=".activities.Objects">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Objects" />
        </activity>
        <activity
            android:name=".activities.listener.Sport"
            android:parentActivityName=".activities.GeoFigSports">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GeoFigSports" />
        </activity>

        <activity
            android:name=".activities.write.SportWrite"
            android:parentActivityName=".activities.GeoFigSports">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GeoFigSports" />
        </activity>
        <activity
            android:name=".activities.listener.AnimalsListenerActivity"
            android:parentActivityName=".activities.AnimalsColors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AnimalsColors" />
        </activity>
        <activity
            android:name=".activities.write.AnimalsWriteActivity"
            android:parentActivityName=".activities.AnimalsColors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AnimalsColors" />
        </activity>

        <service
            android:name=".activities.AudioService"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name" />

        <activity
            android:name=".activities.listener.ClothesListenerActivity"
            android:parentActivityName=".activities.FamilyClothes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.FamilyClothes" />
        </activity>
        <activity
            android:name=".activities.test.TestFamilyClothes"
            android:parentActivityName=".activities.FamilyClothes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.FamilyClothes" />
        </activity>
        <activity
            android:name=".activities.listener.SeasonsListenerActivity"
            android:parentActivityName=".activities.MonthsSeasons">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MonthsSeasons" />
        </activity>
        <activity
            android:name=".activities.listener.January"
            android:parentActivityName=".activities.listener.Months">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.listener.Months" />
        </activity>
        <activity
            android:name=".activities.listener.February"
            android:parentActivityName=".activities.listener.Months">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.listener.Months" />
        </activity>
        <activity
            android:name=".activities.listener.March"
            android:parentActivityName=".activities.listener.Months">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.listener.Months" />
        </activity>
        <activity
            android:name=".activities.listener.April"
            android:parentActivityName=".activities.listener.Months">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.listener.Months" />
        </activity>
        <activity
            android:name=".activities.listener.May"
            android:parentActivityName=".activities.listener.Months">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.listener.Months" />
        </activity>
        <activity
            android:name=".activities.listener.June"
            android:parentActivityName=".activities.listener.Months">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.listener.Months" />
        </activity>
        <activity
            android:name=".activities.listener.Julie"
            android:parentActivityName=".activities.listener.Months">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.listener.Months" />
        </activity>

        <activity
            android:name=".activities.listener.Augost"
            android:parentActivityName=".activities.listener.Months">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.listener.Months" />
        </activity>

        <activity
            android:name=".activities.listener.September"
            android:parentActivityName=".activities.listener.Months">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.listener.Months" />
        </activity>
        <activity
            android:name=".activities.listener.October"
            android:parentActivityName=".activities.listener.Months">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.listener.Months" />
        </activity>
        <activity
            android:name=".activities.listener.November"
            android:parentActivityName=".activities.listener.Months">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.listener.Months" />
        </activity>
        <activity
            android:name=".activities.listener.Dicember"
            android:parentActivityName=".activities.listener.Months">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.listener.Months" />
        </activity>

        <activity
            android:name=".activities.listener.Months"
            android:parentActivityName=".menu.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".menu.MainActivity" />
        </activity>

        <activity
            android:name=".activities.MonthsSeasons"
            android:parentActivityName=".menu.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".menu.MainActivity" />
        </activity>
        <activity android:name=".activities.write.ClothesWriteActivity"></activity>
    </application>

</manifest>